.editForm{
    height: auto;
    padding: 0;
    margin: 0;
}

.EditTextArea{
    margin: 0;
}

.dark{
    color: white;
    background-color: #25273c;
}

.light{
    color: black;
    background-color: white;
}