.icon {
  background-repeat: no-repeat !important;
  justify-self: end;
  padding-right: 1.5rem;
  background-size: cover;
}

.light {
  background: url('../../images/icon-moon.svg');
}

.dark {
  background: url('../../images/icon-sun.svg');
}

.mainContainer {
  max-width: 1440px;
  width: auto;
  height: 100vh;
  margin: auto;
}

.mainContainerDark {
  background-color: rgb(41, 39, 39);
}

.container {
  width: 500px;
  margin: auto;
  position: absolute;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.title {
  color: white;
  font-weight: 900;
  font-size: xx-large;
  text-align: left;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}

.input {
  width: 100%;
}

textarea {
  width: 100%;
  min-height: 50px;
  padding-left: 35px;
  font-size: large;
  padding-right: 35px;
  margin-bottom: 2rem;
  border-radius: 5px;
  padding-top: 0.6rem;
  resize: none;
  padding-bottom: 0.3rem;
}

textarea::placeholder {
  border-bottom: 2px solid red;
}

input:after {
  border-bottom: 2px solid red;
}

.darkInput {
  background-color: #25273c !important ;
  color: white;
}

.lightInput{
  color: black;
}

.lightInput::placeholder {
  color: black;
}

.items {
  box-shadow: 3px 3px 10px;
  border-radius: 5px;
}

.items:last-child {
  border-bottom: none;
}

.footer {
  display: grid;
  grid-template-columns: 200px repeat(4, auto);
  height: 50px;
  font-size: smaller;
  align-content: center;
  color: grey;
  background-color: white;
}

.selected {
  color: blue;
}

.buttons {
  cursor: pointer;
}

.todosLeft {
  margin-left: 5px;
  justify-self: left;
}

.clearCompleted:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 350px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(5, auto);
    font-size: small;
  }
}

@media only screen and (max-width: 350px) {
  .container {
    width: 300px;
  }
}
